.MainImg{
    background-color: #47B5FF;
    height: 60%;
    width: 100%;
    border-radius: 10px;
}

/*Categoies*/
.CategoriesTable{
    width: 100%;
    text-align: center;
}
.CategoryItem{
    background-color: #06283D;
    width: 50%;
    border: solid;
    border-radius: 10px;
    color: #47B5FF;
}

/*Properties of VPN*/
.PropertyTable{
    background-color: #47B5FF;
    text-align: center;
    width: 100%;
    padding: 5% 0px 5% 0px;
    height: 100%;
}
.PropertyItem{
    width: 50%;
    background-color: #06283D;
    border-radius: 10px;
    padding: 3%;
    color: #DFF6FF;
    margin-top: 5%;
}
.PropertyImg{
    width: 50%;
}
.PropertyImg2{
    width: 50%;
}

/*Buying or downloading VPNs*/

.VPNsTable{
    text-align: center;
    width: 100%;
    height: 200%;
}
.VPNItem{
    background-color: #06283D;
    color: #DFF6FF;
    border-radius: 40px;
    padding: 5%;
}

/*Footer of the website*/
.FooterClass{
    background-color: #222831;
    color: #47B5FF;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

/*Buying button*/
.BuyingButton{
    color: #DFF6FF;
    border-radius: 90px;
    background-color: #1363DF;
    padding: 4% 6%;
    outline-style: none;
    text-decoration-line: none;
}
.BuyingButton:hover{
    color: #06283D;
    border-radius: 5px;
    background-color: #DFF6FF;
}

body{
    margin: 0px 10% 0px 10%;
    background-color: #DFF6FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/*buying form*/
.SendingForm{
    text-align: center;
    color: #06283D;
    background-color: #47B5FF;
    border-radius: 10px;
    padding: 100px;
    margin-top: 5%;
}
